<a href="https://colab.research.google.com/github/seelvita/py11/blob/master/ch3_exercises_ipynb_py11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch3_exercises.ipynb

## Q1.
> 다음 코드의 결괏값은 무엇일까?

```
a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

```

In [0]:
# [Q1] Code  
shirt

해설 :
1. 'wife' 없으므로 거짓
2. 'you' 있으므로 거짓
3. 'shirt' 없으므로 참   ---> 참이므로 출력됨.
4. 'need' 있으므로 참  ---> shirt출력되었으므로 출력 x.

## Q2.
> while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [0]:
# [Q2] Code

result = 0
n = 1
while n <= 1000:
    if n % 3 == 0: 
        result += n
    n += 1

print(result)

166833

해설 :while문을 써서 n이 1부터 1000까지라고 설정
3의 배수 즉 3으로 나누었을 떄 나머지 0인 자연수들끼리 더하면 됨.

## Q3.
> while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

```
*
**
***
****
*****

```

In [0]:
# [Q3] Code
n = 0
while True:
    n += 1
    if n  > 5:   break
    print( '*' * n)

*
**
***
****
*****

n은 0으로 초기화 while문이 True값일 때 n이 4이상이면 반복문 빠져나가고 
그 전까지는 1씩 더해져서 *을 출력하게 함.

## Q4.
> for문을 사용해 1부터 100까지의 숫자를 출력해 보자.
- 단순 for문 사용
- 리스트 내포 사용

In [0]:
# [Q4] Code

## Q5.
> A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

- for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [0]:
# [Q5] Code
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += score  
average = total / len(A)
print(average)

79.0

총점수를 0으로 초기화한 후 for문을 이용해 total값을 더한후 len함수를 사용해 평균을 낸 값을 출력한다.

## Q6.
> 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
```
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
```

- 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [0]:
# [Q6] Code
numbers = [1, 2, 3, 4, 5]
result = [n*2
          for n in numbers
          if n%2==1]
print(result)

[2, 6, 10]

6,7,8,9는 나누면 중복되는 값이 나오므로 4개의 숫자는 생략한다.

## Q7.
> ## [Challenge] 응용 코드 : 평균 성적을 구하시오.
```
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
```

- 평균 성적을 세가지 이상의 방법으로 구하시오.

In [0]:
# [Q7] Code-1

In [0]:
# [Q7] Code-2

In [0]:
# [Q7] Code-3

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch3_exercises_id.ipynb